.work-detail-content {
    width: 95%;
    display: flex;
    margin: 0 auto 5rem auto;
    gap: 2rem;
    padding-top: 2rem;
}

/* 画像 */
.work-detail-image {
    width: 50%;
}
.image-slider-for img {
    height: 350px;
    object-fit: cover;
    padding-bottom: 2rem;
}
.image-slider-nav img {
    width: 130px;
    height: 80px;
    object-fit: cover;
}

/* 文章 */
.work-detail-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.work-detail-title {
    font-size: 2.5rem;
    font-weight: bold;
}
.work-detail-text {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #333;
}

.work-detail-description {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.6rem;
    box-shadow: #ddd 2px 2px 10px;
    font-size: 1.4rem;
}
.work-detail-description-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.work-detail-description-content {
    display: flex;
    gap: 2rem;
}
.work-detail-description-labels {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 60px;
}

.work-detail-tags {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.6rem;
    box-shadow: #ddd 2px 2px 10px;
    font-size: 1.4rem;
}
.work-detail-tags-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.work-detail-tag {
    background-color: #DBEAFE;
    color: #2D6BCB;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
.work-detail-links {
    padding-top: 2rem;
    display: flex;
    gap: 10%;
}
.work-detail-link-open {
    width: 45%;
    /* background-color: #4C64FF; */
    border-radius: 10px;
    color: #4C64FF;
    border: #4C64FF 3px solid;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}
.work-detail-link-close {
    width: 45%;
    border: gray 2px solid;
    border-radius: 10px;
    color: gray;
    text-align: center;
    padding: 1rem;
}

.work-detail-link-back {
    padding: 2rem 0 0 2.5%;
    display: block;
    text-align: left;
    color: #4C64FF;
}
